body{
    margin: 0;
    display: flex;
    justify-content: center;
    /* to make Button in center */
    height: 100vh;
align-items: center; 
/* align items it's like justify-content but in orthogonal direction */
background-color: aliceblue;
font-family: scans-serif; 
/* font-family these fonts contian one or more special font to be applied to the elements */
} 
.btn{ 
    /* to styling Button */
    background-color:coral;
    padding: 20px 40px;
    /*it  used to create space around an element's content, inside of any defined borders
    40 for top and bottom , 80px for left and right it,s a defult we can add value for every one */
    color: black; 
    position: relative; 
    /* to define element position ,
     relative It will move relative to its current position on the page
    , without affecting the elements around it  */
    box-shadow:0px 4px 8px 0 burlywood inset;
    /* H-shadow | v-shadow | Blure| spread | color |inset */ 
    text-decoration: none;
    overflow: hidden;
    /* You can use the overflow property when you want to have better control of the layout.
     The overflow property specifies what happens if content overflows an element's box.*/
} 
.btn span{
    position: relative;
    z-index: 1;
    /* first any element that i want to give a z-index i should give i position
    z-index => responsible for determining where the element is in the layer
    and 1 is a normal defulte value */
}
.btn::before{
    content: " ";
    position: absolute;
    background-color: brown;
    width: 0;
    height: 0; 
    left:var(--xpos);
    /* x position */
    top: var(--ypos);
    /* y position */
    transform: translate(-50%,-50%); 
    /* transform=> allows us to transform the shape of element in 2D or 3D space
    translate=> (x,y) */
    border-radius: 50%;
    transition: width 0.5s,height 0.5s;
}
.btn:hover::before{ 
    /* The:hover CSS pseudo-class matches when the user interacts with an element
     with a pointing device, but does not necessarily activate it. 
     It is generally triggered when the user hovers over an element with the cursor */
    width: 200px;
    height: 200px;
}
