body{
    margin: 0;
    display: flex;
    justify-content: center;
    /* to make Button in center */
    height: 100vh;
align-items: center; 
/* align items it's like justify-content but in orthogonal direction */
background-color: aliceblue;
font-family: scans-serif; 
/* font-family these fonts contian one or more special font to be applied to the elements */
} 
.btn{ 
    /* to styling Button */
    background-color:coral;
}
